<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <%- include("../partials/head.ejs")  %>
</head>

<body class="container">

  <header>
    <%- include("../partials/nav.ejs")  %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>TS-Base</h1>
      <p></p>
    </div>
  </main>

  <footer class="bd-footer bg-dark">
    <%- include("../partials/footer.ejs")  %>
  </footer>

</body>

</html>
